<mat-card>
  <mat-card-header>
    <mat-card-title>Produto</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <!--  Não vamos usar validação do proprio navegador, por isso usamos o novalidate, vamos trabalhar nós mesmos com as validações-->
    <form [formGroup]="produtoForm" (ngSubmit)="onSubmit()" novalidate>
      <div>
        <div *ngIf="produtoForm.get('id')?.value !== null">
          <mat-form-field class="item-20">
            <mat-label>Id</mat-label>
            <input matInput formControlName="id"/>
          </mat-form-field>
        </div>

        <div class="container" style="display: flex;">
          <mat-form-field class="item" style="flex: 3">
            <mat-label>Descrição</mat-label>
            <input matInput formControlName="descricao"/>
            @if (produtoForm.controls['descricao'].hasError('required')) {
              <mat-error>Descrição é <strong>requerida</strong></mat-error>
            }
            @if (produtoForm.controls['descricao'].hasError('minlength')) {
              <mat-error>Descrição deve ter no mínimo 3 caracteres</mat-error>
            }
          </mat-form-field>

          <mat-form-field class="item" style="flex: 1;">
            <mat-label>Unidade Medida</mat-label>
            <input matInput formControlName="unidadeMedida"/>
            @if (produtoForm.controls['unidadeMedida'].hasError('required')) {
              <mat-error>Unidade Medida é <strong>requerida</strong></mat-error>
            }
            @if (produtoForm.controls['unidadeMedida'].hasError('minlength')) {
              <mat-error>Unidade Medida deve ter no mínimo 2 caracteres</mat-error>
            }
          </mat-form-field>
        </div>

        <div class="container">
          <mat-form-field class="item">
            <mat-label>Categoria</mat-label>
            <mat-select formControlName="categoriaId" placeholder="Selecione uma Categoria...">
              <mat-option [value]="null">
                Selecione uma Categoria...
              </mat-option>
              <mat-option *ngFor="let categoria of listCategoria" [value]="categoria.id">
                <mat-icon>category</mat-icon>
                {{ '(' + categoria.id + ') ' + categoria.nome }}
              </mat-option>
            </mat-select>
            @if (produtoForm.controls['categoriaId'].hasError('required')) {
              <mat-error>Categoria é <strong>requerida</strong></mat-error>
            }
          </mat-form-field>

          <mat-form-field class="item">
            <mat-label>Fornecedor</mat-label>
            <mat-select formControlName="fornecedorId" placeholder="Selecione um fornecedor...">
              <mat-option [value]="null">
                Selecione um Fornecedor...
              </mat-option>
              <mat-option *ngFor="let fornecedor of listFornecedor" [value]="fornecedor.id">
                <mat-icon>business</mat-icon>
                {{ '(' + fornecedor.id + ') ' + fornecedor.razaoSocial }}
              </mat-option>
            </mat-select>
            @if (produtoForm.controls['fornecedorId'].hasError('required')) {
              <mat-error>Fornecedor é <strong>requerido</strong></mat-error>
            }
          </mat-form-field>
        </div>
      </div>

      <button mat-raised-button
              color="primary"
              type="submit"
              style="margin-right: 8px !important; margin-bottom: 16px !important;"
              [disabled]="!produtoForm.valid">
        Salvar
      </button>
      <button type="button"
              mat-raised-button
              color="primary"
              style="margin-bottom: 16px !important;"
              (click)="cancelar()">
        Cancelar
      </button>
    </form>
  </mat-card-content>

  <!-- progress bar-->
  <app-loading-bar [visible]="showLoading"></app-loading-bar>
</mat-card>
