<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
               [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <app-menu></app-menu>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary" style="position: relative !important;">
      @if (isHandset$ | async) {
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
      }
      <span>Simulador Vendas App</span>

      <!-- Botão de Carrinho -->
      <div class="width-full"></div>
      <button mat-icon-button (click)="navegarParaCheckout()">
        <mat-icon [matBadge]="vendaService.qtdeItensNoCarrinho" matBadgeColor="warn">
          shopping_cart
        </mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <!-- Comentário apenas para testes commit apos formatacao de maquina -->

    <div class="m-10">
      <router-outlet></router-outlet>
    </div>

    <footer>
      <!-- RODAPE -->
      <section class="rodape">
        <div>
          <div style="display: flex; width: 100%;">
            <div style="flex: 1;">
              <label style="display: flex; flex: 1; justify-content: center; font-size: 13px;">
                <a href="https://github.com/PADOCAS/simulador-vendas-app-angular-19" target="blank">Projeto GitHub</a>
              </label>
            </div>
          </div>
        </div>
      </section>
    </footer>
  </mat-sidenav-content>
</mat-sidenav-container>
